@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&family=Roboto+Mono:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coming Soon', cursive;
}

body {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  position: relative;
  min-height: 100vh;
}

#back {
  background-color: #fafafa;
  width: 50%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid #eee;
  z-index: -1;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

ul {
  list-style: none;
}

section {
  padding: 24px 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-space {
  align-items: center;
  justify-content: space-between;
}

.pad {
  padding: 10px 5px;
}

.padding {
  padding: 24px;
}

.border {
  border: 3px solid black;
  border-radius: 2px;
}

/* ? ----- Header section --------- */
header {
  padding: 20px 0;
  text-align: center;
}

header h1 {
  width: fit-content;
  padding: 28px 40px 25px;
  margin: 0 auto;
  box-shadow: 0 5px 18px rgb(0 0 0 / 13%);
  border-radius: 20px;
  background: #fff;
}

/* ? ------ List section --------- */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.list-container {
  padding-top: 10px;
}

.list-item:nth-child(odd) {
  background-color: #eee;
  border-radius: 5px;
}

#form-section {
  background: #fff;
  padding: 50px 30px;
}

/* ? --------- form section ----------- */
form input {
  margin-bottom: 20px;
  height: 40px;
  padding-left: 10px;
  box-shadow: 0 5px 18px rgb(0 0 0 / 15%);
  border: none;
}

.btn {
  width: fit-content;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: 700;
  background: #eee;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 2px 5px 18px rgb(0 0 0 / 15%);
  align-self: flex-end;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
  }

  .grid {
    grid-template-columns: 45% 55%;
    column-gap: 20px;
  }

  #form-section {
    border-radius: 30px 0 0 30px;
    padding: 100px 20%;
    margin-top: 50px;
    box-shadow: -30px 0 40px rgb(0 0 0 / 10%);
    z-index: 100;
  }
}
